//Миксины
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;}
	@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*Шрифты*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /*'PT Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/
@font-face {
	font-family: 'AkzidenzGrotesk-BoldCond';
	src: url('../fonts/AkzidenzGrotesk-BoldCond.eot');
	src: local('☺'), url('../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), url('../fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), url('../fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} /* font-family: 'AkzidenzGrotesk-BoldCond'; */

//Переменные
$ff1: 'PT Sans', sans-serif;
$ff2: 'Bebas Neue', cursive;
$ff3: 'AkzidenzGrotesk-BoldCond';

//Оболочка
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
}

//Подключение файлов стилей
@import "header.scss";
@import "footer.scss";

//Основной блок 

//Private block
.private {
	@include flexbox();
	background-color: #000;
	margin: 0 0 75px 0;
		@media (max-width: 768px) {
			margin: 0 0 40px 0;
		}
}

.private__column {
	flex: 0 0 50%;
	 	@media (max-width: 768px) {
			flex: 1 1 100%;
			&:first-child {
				display: none;
			}	
		 }
}

.private__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.private-body {
	padding: 75px 0px 75px 60px;
		@media (max-width: 768px) {
			padding: 75px 30px 75px 30px;
		}
}

.private-body-content {
	max-width: 305px;
}

.private-body__title {
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	font-family: $ff3;
	letter-spacing: 5px;

		@media (max-width: 576px) {
			font-size: 40px;
		}
}

.private-body__text {
	font-family: $ff1;
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	margin: 37px 0 0 0;
}

.private-body-buttons {
	@include flexbox();
	align-items: center;
	margin: 56px 0 0 0;
}

.btn {
	display: inline-block;
	height: 50px;
	line-height: 20px;
	padding: 17px 33px;
	font-size: 15px;
	font-family: $ff2;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	background-color: #000;
	color: #fff;
		&_w {
			background-color: #fff;
			color: #000;
		}
}

.private-body-buttons__link {
	font-family: $ff2;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	text-decoration: underline;
	letter-spacing: 1.5px;
	line-height: 20px;
	margin:0 0 0 15px;
}

//Products block

.products {
	margin: 0 0 40px 0;

		@media (max-width: 768px) {
			margin: 0;
		}
}

.products-body {
	@include flexbox();

		@media (max-width: 768px) {
			flex-wrap: wrap;
			margin: 0 0 0 30px;
		}
}

.products__column {
	margin: 0 0 40px 0;

		@media (max-width: 768px) {
			flex: 0 0 50%;
		}
		@media (max-width: 380px) {
			flex: 1 1 auto;
		}
}

.product-item {
	@include flexbox();
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
}

.product-item__image {
	display: block;
	margin: 0 0 25px 0;

		@media (max-width: 380px) {
			margin: 0 0 15px 0;
		}
}

.product-item__image_pic {
	width: 100%;
}

.product-item__title {
  display: block;
  font-family: $ff3;
  font-size: 25px;
  letter-spacing: 2.5px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  max-width: 185px;

	@media (max-width: 380px) {
		max-width: none;
		height: auto;
		overflow: visible;
		margin: 0 0 20px 0;
	}
}

.product-item__text {
  flex: 1 1 auto;
  font-family: $ff1;
  font-size: 15px;
  line-height: 1.67;
  color: #000000;
  margin: 0 0 30px 0;
  max-width: 185px;
  padding: 0 10px 0 0;
  
	@media (max-width: 380px) {
		max-width: none;
		margin: 0 0 15px 0;
	}
}

.product-item__btn {
	margin: 0 0 29px 0;
}

.product-item__link {
	font-family: $ff2;
	text-transform: uppercase;
	text-decoration: underline;
	color: #000;
	display: block;
	font-size: 15px;
	letter-spacing: 1.5px;
}

//Why choose us block

.why-top {
	@include flexbox();
	background-color: #000;
}

.why-top__column {
	flex: 0 0 50%;

		@media (max-width: 992px) {
		flex: 1 1 100%;
		&:last-child {
			display: none;
		}
	}
}

.why-top__text {
	text-align: right;
	font-family: $ff3;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
	height: 100%;
	padding: 50px 60px 50px 0;

		@media (max-width: 992px) {
			text-align: center;
			padding: 50px 60px 50px 60px;
		}
		@media (max-width: 768px) {
			padding: 30px 0;
		}
		@media (max-width: 576px) {
			font-size: 40px;
		}
}

.why-top__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}

.why-body {
	background-color: #ebebeb;
	padding: 0 0 50px 0;

		@media (max-width: 576px) {
			padding: 0 0 30px 0;
		}
}

.why-body-row {
	@include flexbox();
	flex-wrap: wrap;
	
		@media (max-width: 992px) {
			margin: 0 0 0 30px;
		}
}

.why-body__column {
	flex: 0 0 50%;
	margin: 50px 0 0 0;

		@media (max-width: 992px) {
			flex: 1 1 100%;
	}
		@media (max-width: 576px) {
			margin: 30px 0 0 0;
		}
}

.why-body-item {
	@include flexbox();
}

.why-body-item__icon {
	flex: 0 0 100px;
  	height: 100px;
	  background-color: #000;
	  @include flexbox();
	  justify-content: center;
	  align-items: center;

	  @media (max-width: 576px) {
		flex: 0 0 80px;
		height: 80px;
		padding: 5px;
		img{max-width: 100%;}
	  }
}

.why-body-item-body {
	flex: 1 1 100%;
	@include flexbox();
	flex-direction: column;
	padding: 0 0 0 11px;
}

.why-body-item-body__title {
	flex: 1 1 auto;
	font-family: $ff3;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;

		@media (max-width: 576px) {
			font-size: 20px;
		}
}

.why-body-item-body__text {
	font-family: $ff1;
	font-size: 15px;
	line-height: 1.67; 
	padding: 0 15px 0 0;
}

//Contacts

.contacts {
	padding: 80px 0 0 0;

		@media (max-width: 768px) {
			padding: 40px 0 0 0;
		}
}

.contacts-top {
		@media (max-width: 992px) {
			padding: 0 0 0 30px;
		}	
}

.contacts__title {
	font-family: $ff3;
	font-size: 50px;
	letter-spacing: 5px;
	line-height: 25px;
	text-transform: uppercase;
	margin: 0 0 30px 0;

		@media (max-width: 576px) {
			font-size: 40px;
		}
}

.contacts-body {
	@include flexbox();
	flex-wrap: wrap;
}

.contacts-body__column {
	flex: 0 0 50%;
	margin: 0 0 20px 0;

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
}

.contacts-body__item {
	font-family: $ff1;
	font-size: 15px;
	line-height: 27px;
	color: #000;
	padding: 0 0 0 35px;
	display: inline-block;
}

.contacts-body__item_1 {
	background: url("../img/contacts/01.svg") left no-repeat;
}

.contacts-body__item_2 {
	background: url("../img/contacts/02.svg") left no-repeat;
}

.contacts-body__item_3 {
	background: url("../img/contacts/03.svg") left no-repeat;
}

.contacts-social {
	@include flexbox();
}

.contacts-social__item {
	margin: 0 30px 0 0;
	&:last-child {
		margin: 0 0 0 0;
	}
}

.contacts-content {
	@include flexbox();
	background-color: #000;

		@media (max-width:768px) {
			display: block;
		}
}

.contacts-content__column {
	flex: 0 0 50%;
}

.contacts-content__map {
	width: 100%;
	height: 100%;

		@media (max-width:768px) {
			height: 300px;
		}
}

.contacts-content-form {
	padding: 55px 60px;
	
		@media (max-width:768px) {
			padding: 30px;
	}
}

.contacts-content-form__title {
	font-family: $ff3;
	font-size: 25px;
	letter-spacing: 2.5px;
	line-height: 25px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	color: #fff;
}

//<INPUT (inp+tab)>====================================================================================================
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 18px;
	height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #959595;
	font-size: 15px;
	&.focus{}
	&.err{
		border: 2px solid red;
	}
}

textarea.input{
	resize:none;
	height: 100px;
	padding: 10px 18px;

}

.contacts-content-form-body {
	max-width: 375px;

		@media (max-width:768px) {
			max-width: none;
		}
}

.contacts-content-form-line {
	margin: 0 0 25px 0;
}

